div.album-grid {
  width: calc(210px * 5);
  overflow: hidden;
}

div.album {
  display: flex;
  width: 210px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

div.album div.album-title,
div.album div.album-actions {
  height: 20px
}

div.image-wrapper {
  position: relative;
}

div.image-wrapper:hover {
  cursor: pointer;
}

div.image-wrapper img {
  width: 100%;
  align-self: start;
}

div.image-wrapper>.mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  color: #999;
  align-items: center;
  justify-content: center;
}

div.image-wrapper:hover>.mask {
  display: flex;
}