@import url('https://fonts.googleapis.com/css2?family=Helvetica');

body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
}

button,
span,
input,
select,
div {
  font-family: inherit;
}

/*modal*/
#modal-content>div {
  padding: 25px;
}

input,
select {
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  padding: 2px 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus,
select:focus {
  outline: 0;
  border-color: #999;
}

select {
  padding-top: 3px;
  padding-bottom: 3px;
}

/*Forms*/
ul.form-error {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  align-self: flex-start;
}

ul.form-error li {
  font-size: 12px;
  list-style: none;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form div.title {
  align-self: stretch;
  line-height: 1;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
}

.Form form {
  align-self: stretch;
}

.Form form label {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}

.Form form label>input,
.Form form label>select {
  width: 200px;
  box-sizing: border-box;
}

.Form button.submit,
button.load-more {
  width: 100%;
  background: #f2f2f2;
  border: none;
  border-radius: 3px;
  padding: 5px 0 5px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 14px;
  height: 21px;
  margin-top: 10px;
}

.Form button.submit+.Form button.submit {
  margin-top: 0;
}


.Form button.submit:hover,
button.load-more:hover {
  background-color: #666;
  color: white;
}

.Form .actions {
  display: flex;
  gap: 10px;
}

.Form .actions .general-button {
  flex-grow: 1;
}

/*common definitions*/
.warning {
  color: #f50
}

div.main {
  padding: 30px;
  padding-top: calc(30px + 2.5em);
}

button.general-button {
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}

button.general-button.small {
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 18px;
}

button.general-button:hover {
  outline: 0;
  border-color: #ccc;
}